body {
    margin-left: 200px;
}

ul {
    list-style: none;
    display: flex;
    width: 13em;
}

nav {
    display: flex;
    justify-content: space-between;
}

.product {
    margin-left: 13px;
}

.contact {
    margin-left: 13px;
}

a {
    color: black;
    text-decoration: none;
}

.tri-senet {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 600px;
}