ul {
    list-style: none;
    display: flex;
    width: 13em;
}

nav {
    display: flex;
    justify-content: space-between;
}

.product {
    margin-left: 13px;
}

.contact {
    margin-left: 13px;
}

.main {
    display: flex;
    justify-content: center;
}

.ana-e-majt {
    background-color: purple;
}